<div class="center hero-unit">
  <h1>Welcome to One-a-day</h1>

  <h2>
    One thing a day. Or maybe a week. We're not sure yet.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>