<footer class="footer">
  <small>
    A project by <a href="http://www.brianshih.com">Brian Shih</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>
